<?xml version="1.0" encoding="utf-8">
<!DOCUMENT TYPE PUBLIC "- //W3C//DTD XHTML 1.1 //EN"
    http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd" >

<html>
 <head>
    <meta http-equiv="Content-type" content="text/html"; charset=utf-8 />
    <title>GuestBook</title>
    <link rel="StyleSheet" href="main.css" type="text/css" />
 </head>
 <body>
  <div id="main">
    <h1>Guestbook</h1>
    <div id="form-area">
    <p>Please comment here:</p>
    <form action="/post" method="post">
        <table>
            <tr>
                <th>Name</th>
                <td>
                    <input type="text" size="20" name="name" />
                </td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>
                    <textarea rows="5" cols="40" name="comments"></textarea>
                </td>
            </tr>
        </table>
        <p><button type="submit">Commit</button></p>
    </form>
    </div>
    <div id="entries-area">
    <h2> The comments history</h2>
    <div id="entry">
    <h3> Guest wrote comments(2011/10/01 10:00:00):</h3>
    <p>
        Comments<br/>
        Comments
    </p>
    <h3>Guest wrote comments(2011/10/01 10:00:00):</h3>
    <p>
        Comments<br/>
        Comments
    </p>
    </div>
    </div>
    </div>
 </body>
</html>


